// about

#about-page {
  .about {
    text-align: center;
    padding-bottom: 5vw;

    &-bg {
      background-image: url("../assets/img/bgabout.jpg");
      height: unset;
    }

    .subheading {
      @include breakpoint(desktop) {
        display: none;
      }
    }

    .title {
      @include breakpoint(desktop) {
        margin: 5vw 20vw 3vw 20vw;
      }
    }

    p {
      line-height: 6vw;
      margin: 7vw 6vw 7vw 6vw;

      @include breakpoint(desktop) {
        font-size: 1.1vw;
        letter-spacing: 0.05vw;
        padding: 1vw;
        line-height: 2.5vw;
        margin: 0;
      }
    }

    .at {
      margin: 0 auto;
      padding-top: 7vw;

      @include breakpoint(desktop) {
        padding-top: 4vw;
        font-size: 1vw;
        width: 50%;
        line-height: 2vw;
      }
    }

    strong {
      font-size: 3vw;

      @include breakpoint(desktop) {
        font-size: 1.1vw;
      }
    }

    .subtitle {
      line-height: 5vw;
      margin: 0 12vw 10vw 12vw;
      font-size: 3vw;
      padding-top: 0;

      @include breakpoint(desktop) {
        font-size: 1vw;
        line-height: 1.7vw;
        margin: 3vw auto 0 auto;
        width: 50%;
      }
    }

    .full {
      display: none;

      @include breakpoint(desktop) {
        margin-top: -1vw;
        display: block;
      }
    }

    .logo {
      border: 1px solid $light-grey;
      margin: 6vw 6vw 10vw 6vw;
      height: 30vw;

      @include breakpoint(desktop) {
        height: 7vw;
        width: 35%;
        margin: 3vw auto;
      }

      .aligner {
        display: inline-block;
        height: 100%;
        vertical-align: middle;
      }

      img {
        height: 40%;
        display: inline-block;
        vertical-align: middle;

        @include breakpoint(desktop) {
          padding-top: 3vw;
          height: 5vw;
          display: inline-block;
          vertical-align: middle;
        }
      }
    }

    .separator {
      height: 1px;
      background-color: $light-grey;
    }

    .concerts-wrap {
      margin: 6vw 6vw 10vw 6vw;

      @include breakpoint(desktop) {
        display: flex;
        justify-content: center;
        margin: 2vw 0 -3vw 0;
      }

      h3 {
        font-size: 8vw;
        font-weight: 600;
        color: $white;
        padding-top: 15vw;

        @include breakpoint(desktop) {
          font-size: 3vw;
          padding: 5vw 0 0 0;
        }
      }

      p {
        font-size: 4vw;
        color: $white;
        margin: 0;
        padding-top: 2vw;

        @include breakpoint(desktop) {
          font-size: 1vw;
          padding: 0;
        }
      }

      .concert1 {
        background-image: url("../assets/img/concert1.jpg");
        background-size: contain;
        margin-bottom: 4vw;
        height: 49vw;

        @include breakpoint(desktop) {
          height: 16vw;
          width: 29vw;
          margin: 1vw;
        }
      }

      .concert2 {
        background-image: url("../assets/img/concert2.jpg");
        background-size: contain;
        margin-bottom: 4vw;
        height: 49vw;

        @include breakpoint(desktop) {
          height: 16vw;
          width: 29vw;
          margin: 1vw;
        }
      }
    }

    .intro {
      background-color: $white;

      @include breakpoint(desktop) {
        width: 60%;
        margin: 0 auto;
        padding: 0;
      }
    }
  }
}

#footer-about {
  @include breakpoint(desktop) {
    background-color: #3f3f3f;
  }
}

#inverted-color {
  @include breakpoint(desktop) {
    filter: brightness(0) invert(1);
  }
}

#footer-text-about {
  @include breakpoint(desktop) {
    color: $white;
  }
}

#footer-text-about2 {
  @include breakpoint(desktop) {
    color: $white;
  }
}

#partners-about {
  @include breakpoint(desktop) {
    display: none;
  }
}

#active {
  color: $orange;
}

#buy {
  color: $orange;
  padding: 0.5vw 0.8vw;
  border: 2px solid $orange;
}
