// footer

footer {
  background-color: $light-grey;
  text-align: left;
  padding: 3vw 0 10vw 0;

  @include breakpoint(desktop) {
    padding: 3vw 0 5vw 0;
  }

  .footer-image {
    float: left;
    text-align: right;
    margin: 3vw 5vw 0 17vw;

    img {
      width: 30vw;
      filter: grayscale(100%);
      margin: 1vw 0 0 1vw;

      @include breakpoint(desktop) {
        width: 20vw;
        margin: 1vw 0 3vw 1vw;
        padding-bottom: 2vw;
      }
    }
  }

  .footer-text {
    display: inline;

    p {
      margin: 3vw 15vw 0 0;
      line-height: 3vw;
      font-size: 2.5vw;

      &:last-child {
        display: none;
      }

      @include breakpoint(desktop) {
        margin: 2vw 15vw 0 3vw;
        line-height: 1.7vw;
        font-size: initial;

        &:last-child {
          display: block;
        }
      }
    }

    .bold {
      font-weight: 600;
    }
  }
}
