// header
.top-bar {
  background-color: #3f3f3f;
  display: none;
  text-align: right;
  padding-right: 19vw;

  @include breakpoint(desktop) {
    display: flex;
    justify-content: flex-end;
  }

  a,
  i {
    color: $white;
    padding: 0.5vw 1.5vw;
  }
}

.flex-nav {
  background: none;

  .menu-open {
    width: 5vw;
    height: 5vw;
    position: absolute;
    top: 9.5vw;
    left: 5.8vw;

    @include breakpoint(desktop) {
      display: none;
    }
  }

  .menu {
    display: none;
    justify-content: center;
    position: relative;
    top: 0;
    height: 150vw;
    flex-direction: column;
    background: url(../assets/img/bg.jpg) no-repeat;
    background-size: cover;
    background-position-y: 0;

    @include breakpoint(desktop) {
      display: flex;
      flex-direction: row;
      justify-content: center;
      background: none;
      height: 5vw;
      align-items: center;
      border: 1px solid #dddfe6;
      top: 0;
      box-shadow: 0 0.2vw 1vw $grey;
    }

    .logo {
      img {
        height: 8vw;

        @include breakpoint(desktop) {
          height: 4vw;
        }
      }
    }

    a {
      font-size: 5vw;
      align-self: center;
      margin: 4vw 0;

      @include breakpoint(desktop) {
        margin: 0 3.47vw;
        font-size: 1vw;

        &:hover {
          border-bottom: 0.14vw solid $dark;
        }
      }
    }

    .menu-close {
      width: 5vw;
      height: 5vw;
      position: absolute;
      top: 9.5vw;
      right: 5.8vw;

      @include breakpoint(desktop) {
        display: none;
      }
    }
  }
}
